.close-btn {
           position: absolute;
           right: 0%;
           top: 0%;
           transform: translateY(-50%) translateX(50%);
           background-color: white;
           cursor: pointer;
}          